html, body {
    font-family: "Lato", sans-serif;
}

h1 {
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    margin: 1.5em auto;
}

@media screen and (max-width: 576px) {
    h1 {
        font-size: 2em;
    }
}